{% extends 'user_layout.html' %}
{% block content %}
    <br><br>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <center>
            <div class="w-96 h-96 shadow-lg rounded-lg opacity-100 flex flex-col items-center justify-center gap-5 top-1/2 translate-y-1/4">
                <h1 class="text-2xl font-bold">Login</h1>
                <div class="">
                    <label for="#username" class="">Username: </label>
                    <input type="text" class="h-6" id="username" name="username">
                </div>
                <div class=" ">
                    <label for="#password" class="">Password: </label>
                    <input type="password" class="h-6" id="password" name="password">
                </div>
                <input type="submit" value="Login" class=" font-bold w-20 rounded-lg">
                <p class="">Don't have an account? <a class="" href="{% url 'register' %}">Create one</a></p>
            </div>
        </center>
    </form>
{% endblock %}